<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>The Tractor Store - Back Office</title>
    <link href="/assets/store.css" rel="stylesheet"/>
    <link href="/assets/checkout.css" rel="stylesheet"/>
    <link href="/assets/outlines.css" rel="stylesheet"/>
    <script src="https://unpkg.com/htmx.org@1.9.5"
            integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO"
            crossorigin="anonymous"></script>
    {{#liveReload}}
        <script src="http://localhost:35729/livereload.js"></script>
    {{/liveReload}}
</head>
<body class="store-layout">
    <h1 class="store-header">The Tractor Store - Back Office</h1>
    <div id="store-content" data-hx-swap-oob="true">
        <div class="orders">
            {{#orders.isEmpty}}
                <p>There are no orders yet</p>
            {{/orders.isEmpty}}
            {{^orders.isEmpty}}
                <table>
                    <thead>
                        <tr>
                            <th class="order-number">Order number</th>
                            <th class="total">Total amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#orders}}
                            <tr>
                                <td class="order-number">{{id}}</td>
                                <td class="total">${{totalAmount}}</td>
                            </tr>
                        {{/orders}}
                    </tbody>
                </table>
            {{/orders.isEmpty}}
        </div>
    </div>
</body>
</html>

