{{> storefront/layout/header}}
<div id="checkout-flow"
     hx-get="/checkout/{{order.id}}"
     hx-trigger="sse:payment-method-selected"
     data-hx-swap-oob="true"
>
    {{^order.isPaymentMethodSpecified}}
        {{> storefront/checkout-payment}}
    {{/order.isPaymentMethodSpecified}}
    {{#order.isPaymentMethodSpecified}}
        {{> storefront/checkout-success}}
    {{/order.isPaymentMethodSpecified}}
</div>
{{> storefront/layout/footer}}

