{{> storefront/layout/header}}
{{^order.isPaymentMethodSpecified}}
    {{> storefront/checkout-payment}}
{{/order.isPaymentMethodSpecified}}
{{#order.isPaymentMethodSpecified}}
    {{> storefront/checkout-success}}
{{/order.isPaymentMethodSpecified}}
{{> storefront/layout/footer}}

