<div class="checkout-payment">
    <p>How do you prefer to pay?</p>
    <form
        data-hx-patch="/checkout/{{order.id}}"
        data-hx-trigger="submit"
    >
        <div class="payment-methods">
            <input checked="checked" type="radio" name="paymentMethod" id="over-the-phone" value="OverThePhone">
            <label for="over-the-phone">Pay over the phone</label>
        </div>

        <div class="checkout-continue">
            <button type="submit">Continue</button>
        </div>
    </form>
</div>
