<div id="product-header">
    <h2>{{details.model}}</h2>
    <img
        class="product-image img-thumbnail border-0"
        alt="The {{details.edition}} edition version of the {{details.model}} tractor"
        src="{{details.imageUrl}}"
    />
</div>
