#checkout-summary {
    min-width: 42rem;
    max-width: 55rem;
    min-height: 3.2rem;
    display: flex;
}

.checkout-minicart {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    text-align: center;
    margin: 0 auto;
}

.checkout-minicart img {
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.checkout-clear button {
    padding: 0.4em;
    font-size: 1.2em;
    border: none;
    color: white;
    border-radius: 0.25em;
    background: rgba(151, 48, 48, 0.8);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.checkout-clear button:hover {
    background: rgba(174, 56, 56, 0.8);
}

.checkout-clear button:active {
    background: gray;
    transform: scale(0.98);
}

.checkout-review button {
    padding: 0.4em;
    font-size: 1.2em;
    border: none;
    color: white;
    border-radius: 0.25em;
    background: rgba(247, 137, 17, 0.92);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.checkout-review button:hover {
    background: rgba(247, 161, 83, 0.92);
}

.checkout-review button:active {
    background: gray;
    transform: scale(0.98);
}

.checkout-start button {
    padding: 0.4em;
    font-size: 1.2em;
    border: none;
    color: white;
    border-radius: 0.25em;
    background: rgba(86, 149, 55, 0.8);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.checkout-start button:hover {
    background: rgba(94, 168, 60, 0.8);
}

.checkout-start button:active {
    background: gray;
    transform: scale(0.98);
}

#checkout-buy {
    min-height: 3.2rem;
}

#checkout-buy button {
    width: 100%;
    padding: 0.5em;
    font-size: 1.5em;
    border: none;
    color: white;
    border-radius: 0.25em;
    background: rgb(75, 158, 204);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

#checkout-buy button:hover {
    background: rgb(75, 158, 204, 0.8);
}

#checkout-buy button:active {
    background: gray;
    transform: scale(0.98);
}

.checkout-continue-shopping button {
    padding: 0.4em;
    font-size: 1.2em;
    border: none;
    color: white;
    border-radius: 0.25em;
    background: rgb(75, 158, 204);
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: transform 0.1s ease-in-out;
}

.checkout-cart {
    min-width: 42rem;
    max-width: 55rem;
    min-height: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-actions {
    display: flex;
    gap: 1rem;
}

.checkout-continue-shopping button:hover {
    background: rgb(75, 158, 204, 0.8);
}

.checkout-continue-shopping button:active {
    background: gray;
    transform: scale(0.98);
}

.checkout-success {
    min-width: 42rem;
    max-width: 55rem;
    min-height: 3.2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.checkout-success .check-mark {
    font-size: 5em;
    color: rgb(28, 184, 65);
    text-shadow: 5px 5px 0 rgba(255, 255, 255, 0.8);
    text-align: center;
}

.checkout-receipt {
    min-width: 28rem;
}

.checkout-receipt table {
    border-collapse: collapse;
    margin: 40px 0;
    width: 100%;
}

.checkout-receipt table td, .checkout-receipt table th {
    padding: 10px 0;
}

.checkout-receipt .total {
    border-top: 3px solid lightgray;
}

.checkout-receipt table .model {
    text-align: left;
}

.checkout-receipt table .edition {
    text-align: center;
}

.checkout-receipt table .price {
    text-align: right;
}
