html {
  outline: 3px solid #bc3630;
  outline-offset: -10px;
  position: relative;
}

html::after {
  content: "Store";
  display: block;
  background-color: #bc3630;
  color: white;
  position: absolute;
  padding: 2px 5px;
  bottom: 10px;
  left: 7px;
}
