html {
  outline: 3px solid #bc3630;
  outline-offset: -10px;
  position: relative;
}

html::after {
  content: "Store";
  display: block;
  background-color: #bc3630;
  color: white;
  position: absolute;
  padding: 2px 5px;
  bottom: 9px;
  left: 7px;
}

#product {
  position: relative;
  outline: 3px solid #c8845f;
  outline-offset: 40px;
}

#product::before {
  display: block;
  background-color: #c8845f;
  color: white;
  position: absolute;
  padding: 2px 5px;
  content: "Products";
  bottom: -40px;
  left: -40px;
}

#checkout-buy,
.checkout-summary-placeholder {
  position: relative;
  outline: 3px solid #5f9dc8;
}

#checkout-buy {
  outline-offset: 5px;
}

#checkout-buy::before,
.checkout-summary-placeholder::before {
  display: block;
  background-color: #5f9dc8;
  color: white;
  position: absolute;
  padding: 2px 5px;
}

.checkout-summary-placeholder::before {
  content: "Checkout";
}

#checkout-buy::before {
  content: "Checkout";
  bottom: -34px;
  right: -8px;
}

.checkout-summary-placeholder::before {
  bottom: -30px;
  right: -3px;
}

#recommendations {
  position: relative;
  outline: 3px solid #7c9b2f;
}

#recommendations::before {
  content: "Recommendations";
  display: block;
  background-color: #7c9b2f;
  color: white;
  position: absolute;
  padding: 2px 5px;
  bottom: -30px;
  right: -3px;
}
