html {
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  outline: 3px solid #bc3630;
  outline-offset: -10px;
  position: relative;
  padding-bottom: 50px;
}

html::after {
  content: "Store";
  display: block;
  background-color: #bc3630;
  color: white;
  position: absolute;
  padding: 2px 5px;
  bottom: 9px;
  left: 7px;
}

#product {
  position: relative;
  outline: 3px solid #c8845f;
  outline-offset: 24px;
}

#product::after {
  display: block;
  background-color: #c8845f;
  color: white;
  position: absolute;
  padding: 2px 5px;
  content: "Products";
  bottom: -24px;
  left: -24px;
  z-index: 99;
}

#checkout-buy,
#checkout-minicart {
  position: relative;
  outline: 3px solid #5f9dc8;
}

#checkout-buy {
  outline-offset: 5px;
}

#checkout-buy::after,
#checkout-minicart::after {
  display: block;
  background-color: #5f9dc8;
  color: white;
  position: absolute;
  padding: 2px 5px;
  content: "Checkout";
  z-index: 99;
}

#checkout-buy::after {
  bottom: -34px;
  right: -8px;
}

#checkout-minicart::after {
  bottom: -30px;
  right: -3px;
}

#checkout-fullcart {
  position: relative;
  outline: 3px solid #5f9dc8;
  outline-offset: 8px;
}

#checkout-fullcart::after {
  display: block;
  background-color: #5f9dc8;
  color: white;
  position: absolute;
  padding: 2px 5px;
  content: "Checkout";
  z-index: 99;
  bottom: -38px;
  right: -10px;
}

#checkout-payment {
  position: relative;
  outline: 3px solid #5f9dc8;
  outline-offset: 8px;
}

#checkout-payment::after {
  display: block;
  background-color: #5f9dc8;
  color: white;
  position: absolute;
  padding: 2px 5px;
  content: "Checkout";
  z-index: 99;
  bottom: -38px;
  right: -10px;
}

#checkout-success {
  position: relative;
  outline: 3px solid #5f9dc8;
  outline-offset: 8px;
}

#checkout-success::after {
  content: "Checkout";
  display: block;
  background-color: #5f9dc8;
  color: white;
  position: absolute;
  padding: 2px 5px;
  bottom: -38px;
  right: -10px;
}

#recommendations {
  position: relative;
  outline: 3px solid #7c9b2f;
}

#recommendations::after {
  content: "Recommendations";
  display: block;
  background-color: #7c9b2f;
  color: white;
  position: absolute;
  padding: 2px 5px;
  bottom: -30px;
  right: -3px;
}

#orders {
  position: relative;
  outline: 3px solid #5f9dc8;
  outline-offset: 8px;
}

#orders::after {
  content: "Checkout";
  display: block;
  background-color: #5f9dc8;
  color: white;
  position: absolute;
  padding: 2px 5px;
  bottom: -38px;
  right: -10px;
}
