@keyframes confirm {
    0% {
        transform: scale(0.4);
        opacity: 0;
    }
    30% {
        transform: scale(1);
        opacity: 1;
    }
    60% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.item-added-to-cart.animated {
    animation: confirm 2s ease-in-out forwards
}

.item-added-to-cart svg {
    width: 10rem;
    height: 10rem;
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));
    fill: var(--bs-success);
}
