/* GLOBAL STYLES */

* {
  box-sizing: border-box;
}

html {
  font-family: "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
}

a {
  color: inherit;
}

.store-layout {
  display: grid;
  padding: 0 2rem 3rem;
  grid-row-gap: 2rem;
  margin: 0 auto;
  max-width: 55rem;
}

.store-header {
  font-size: 2rem;
  text-align: center;
  padding: 0.25rem;
  border: solid lightgray;
  border-width: 3px 0;
}

.product-placeholder {
  min-width: 42rem;
  max-width: 55rem;
  min-height: 30rem;
}

.product {
  display: grid;
  grid-template-columns: 3fr 2fr 2fr;
  grid-column-gap: 2rem;
  justify-content: space-between;
  min-width: 42rem;
  max-width: 55rem;
  min-height: 30rem;
  margin: 0 auto;
}

.product-headline {
  font-size: 1.5em;
  text-align: center;
  margin: 0;
}

.product-image {
  width: 100%;
}

.product-details {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
}

.product-editions {
  display: block;
  cursor: pointer;
  white-space: nowrap;
  margin: 0 auto;
}

.product-editions p {
  font-weight: bold;
}

.product-editions input {
  zoom: 1.25;
  transform: scale(1.5);
}

.product-editions span {
  display: inline-block;
  margin-left: 0.5em;
  vertical-align: middle;
}

.product-editions img {
  width: 80px;
  height: 80px;
  margin-left: 0.5em;
  display: inline-block;
  vertical-align: middle;
}

.checkout-buy-placeholder {
  min-height: 4rem;
}

.checkout-buy button {
  width: 100%;
  padding: 0.5em;
  font-size: 1.5em;
  border: none;
  color: white;
  border-radius: 0.25em;
  background: rgb(75, 158, 204);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.checkout-buy button:hover {
  background: rgb(75, 158, 204, 0.8);
}

.checkout-buy button:active {
  background: gray;
  transform: scale(0.98);
}

.checkout-summary-placeholder {
  min-width: 42rem;
  max-width: 55rem;
  min-height: 4rem;
}

.checkout-summary {
  border-top: 3px solid lightgray;
  padding-top: 1em;
  grid-column: 1 / span 3;
}

.checkout-minicart {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  text-align: center;
}

.checkout-minicart img {
  width: 80px;
  height: 80px;
  display: inline-block;
  vertical-align: middle;
}

.checkout-clear button {
  padding: 0.4em;
  font-size: 1.2em;
  border: none;
  color: white;
  border-radius: 0.25em;
  background: rgba(151, 48, 48, 0.8);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: transform 0.1s ease-in-out;
}

.checkout-clear button:hover {
  background: rgba(174, 56, 56, 0.8);
}

.checkout-clear button:active {
  background: gray;
  transform: scale(0.98);
}

.recommendations-headline {
  padding-top: 1em;
  font-size: 1em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.recommendation div {
  display: inline-block;
  margin: 1rem;
  border: 1px solid #333;
  cursor: pointer;
}

.recommendation img {
  max-width: 100%;
  width: 300px;
}
