<div id="checkout-buy" data-hx-swap-oob="true">
    <form>
        <input type="hidden" name="productId" value="{{pricing.productId}}">
        <input type="hidden" name="edition" value="{{edition}}">
        <button
            data-hx-post="/cart"
            data-hx-trigger="click"
            type="button"
        >Buy for ${{pricing.price}}</button>
    </form>
</div>
