<div class="checkout-success">
    <div class="check-mark">✔</div>
    <p>Your order is confirmed!</p>
    <div class="checkout-continue-shopping">
        <button
            data-hx-get="/"
            data-hx-push-url="true"
            data-hx-trigger="click"
            data-hx-headers='{ "Accept": "text/html" }'
            type="button"
        >Continue shopping</button>
    </div>
</div>
