{{> layout/header}}
{{^order.isPaymentMethodSpecified}}
    {{> checkout-payment}}
{{/order.isPaymentMethodSpecified}}
{{#order.isPaymentMethodSpecified}}
    {{> checkout-success}}
{{/order.isPaymentMethodSpecified}}
{{> layout/footer}}

