<div class="checkout-buy">
    <form>
        <input type="hidden" name="productId" value="{{pricing.productId}}">
        <button
            data-hx-post="/cart"
            data-hx-trigger="click"
            type="button"
        >Buy for ${{pricing.price}}</button>
    </form>
</div>
