<aside id="product" data-hx-swap-oob="true">
    {{> product-header }}
    {{> product-options }}
    <div
        id="recommendations"
        data-hx-trigger="load delay:1s"
        data-hx-get="/recommendations"
        data-hx-vals='{ "productId": "{{details.productId}}" }'
        data-hx-headers='{ "Accept": "text/fragment+html" }'
        data-hx-swap="outerHTML"
    >{{> spinner}}</div>
    <script>
        (function () {
            const itemAddedToCartEvent = "item-added-to-cart";
            const animationEndEvent = "animationend";
            const header = document.querySelector(".product-header");

            function onItemAddedToCart() {
                header.classList.add("product-added-to-cart");
            }

            function onAnimationEnd() {
                header.classList.remove("product-added-to-cart");
            }

            document.addEventListener(itemAddedToCartEvent, onItemAddedToCart);
            header.addEventListener(animationEndEvent, onAnimationEnd);
            header.addEventListener("htmx:beforeCleanupElement", function () {
                document.removeEventListener(itemAddedToCartEvent, onItemAddedToCart);
                header.removeEventListener(animationEndEvent, onAnimationEnd);
            });
        })();
    </script>
</aside>
