<div class="product">
    <div class="product-header">
        <h2 class="product-headline">{{details.model}}</h2>
        <img
            class="product-image"
            alt="The {{details.edition}} edition version of the {{details.model}} tractor"
            src="{{details.imageUrl}}"
        />
    </div>
    <div class="product-details">
        <label class="product-editions">
            <p>Material Upgrade?</p>
            <input
                data-hx-get="/products/{{details.productId}}"
                data-hx-vals='{ "edition": "{{details.otherEdition}}" }'
                data-hx-target=".product"
                data-hx-swap="outerHTML"
                {{#details.isPlatinum}}checked{{/details.isPlatinum}}
                type="checkbox"/>
            <span aria-label="Platinum Edition">Platinum<br/>Edition</span>
            <img class="product-image-platinum"
                 alt="Preview of the platinum edition version of the {{details.model}} tractor"
                 src="{{details.platinumImageUrl}}"/>
        </label>
        <div
            class="checkout-buy-placeholder"
            data-hx-get="/pricing/{{details.productId}}"
            data-hx-vals='{ "edition": "{{details.edition}}" }'
            data-hx-trigger="load"
            data-hx-target="this"></div>
    </div>
    <div
        class="recommendations-placeholder"
        data-hx-get="/recommendations/{{details.productId}}"
        data-hx-trigger="load"
        data-hx-target="this"></div>
</div>
