<div class="checkout-cart">
    <h2>Shopping Cart</h2>
    <p>You've picked {{cart.size}} items, for a total of ${{cart.total}}</p>
    <div class="checkout-receipt">
        <table>
            <thead>
                <tr>
                    <th class="model">Product</th>
                    <th class="edition">Edition</th>
                    <th class="price">Price</th>
                </tr>
            </thead>
            <tbody>
                {{#cart.items}}
                    <tr>
                        <td class="model">{{model}}</td>
                        <td class="edition">{{edition}}</td>
                        <td class="price">${{price}}</td>
                    </tr>
                {{/cart.items}}
                <tr>
                    <td colspan="3" class="total price">Total amount ${{cart.total}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="checkout-actions">
        <div class="checkout-continue-shopping">
            <button
                data-hx-get="/"
                data-hx-push-url="true"
                data-hx-trigger="click"
                data-hx-headers='{ "Accept": "text/html" }'
                type="button"
            >Continue shopping
            </button>
        </div>
        <form class="checkout-start"
              data-hx-post="/checkout"
              data-hx-trigger="click"
              data-hx-target="#store-content"
              data-hx-push-url="true"
        >
            <button type="button">Checkout</button>
        </form>
    </div>
</div>
