{{> storefront/layout/header}}
<div
    id="product"
    data-hx-trigger="load delay:1s"
    data-hx-get="/products/{{productId}}"
    data-hx-vals='{ "edition": "{{edition}}" }'
    data-hx-headers='{ "Accept": "text/fragment+html" }'
>{{> storefront/spinner}}</div>
<hr/>
<div
    id="checkout-summary"
    data-hx-trigger="load delay:1s"
    data-hx-get="/cart"
    data-hx-headers='{ "Accept": "text/fragment+html" }'
>{{> storefront/spinner}}</div>
{{> storefront/layout/footer}}
