<div class="product-header">
    <h2 class="product-headline">{{details.model}}</h2>
    <img
        class="product-image"
        alt="The {{details.edition}} edition version of the {{details.model}} tractor"
        src="{{details.imageUrl}}"
    />
</div>
